html {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  min-height: 100vh;
}
