.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: lightcoral;
  height: 100vh;
}

.menu-list {
  padding-inline-start: 0px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-list li {
  list-style-type: none;
}
