.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightblue;
  flex-grow: 1;
}

.footer-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px;
}

.footer-items a {
  text-decoration: none;
  color: black;
}
